####################################################################################################################################
# MOTION SECTION #
##################

[stepper_x]                             # Left Rear
step_pin: PE2                           # Motor 1
dir_pin: !PB4
enable_pin: !PC11                       
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_max: 377
position_endstop: 377
homing_speed: 25
homing_retract_dist: 0                  # Distance to backoff (in mm) before homing a second time during homing. Set this to zero to disable the second home. The defaultis 5mm.
homing_positive_dir: true               # If true, homing will cause the stepper to move in a positive direction (away from zero); if false, home towards zero

[tmc2209 stepper_x]                     # StepperOnline 17HS19-2004S1, 1.8 degree, 2A
uart_pin: PC10
run_current: 1.00                      # Max = 2A
#Sensorless homing https://docs.vorondesign.com/community/howto/clee/sensorless_xy_homing.html
diag_pin: ^PF3                          # Pullup - Same pin that the previous endstop was
driver_SGTHRS: 50                       # X Max: 60, X Min: 40


[stepper_y]                             # Right Rear
step_pin: PF12                          # Motor 2
dir_pin: !PF11
enable_pin: !PB3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 370
position_max: 370
homing_speed: 25
homing_retract_dist: 0                  # Distance to backoff (in mm) before homing a second time during homing. Set this to zero to disable the second home. The defaultis 5mm.
homing_positive_dir: true               # If true, homing will cause the stepper to move in a positive direction (away from zero); if false, home towards zero

[tmc2209 stepper_y]                     # StepperOnline 17HS19-2004S1, 1.8 degree, 2A
uart_pin: PF13
run_current: 1.000                      # Max = 2A
#Sensorless homing https://docs.vorondesign.com/community/howto/clee/sensorless_xy_homing.html
diag_pin: ^PF4                          # Pullup - Same pin that the previous endstop was
driver_SGTHRS: 66                       # Y Max: 66, Y Min: 65

####################################
## Hydra triple Z: Z, Z1, Z2      ##
####################################

[force_move]
enable_force_move: true                 # Enables commands that force potentially unsafe movement

[stepper_z]                             # Rear Center
step_pin: PD7                           # Motor 3
dir_pin: !PD6
enable_pin: !PF10
microsteps: 16
rotation_distance: 2                    # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop    # Enable to use BLTouch or klicky or Beacon or Tap
position_min: -5                        # Enable to use BLTouch or klicky, this needs to be a lower value than the probe offset, which should be around -9 or -10
position_max: 350
homing_speed: 20                         # First homing speed at 20
second_homing_speed: 5
homing_retract_dist: 3                  # Must be set to zero for Beacon, klicky was 5

[tmc2209 stepper_z]                     # StepperOnline 17HS19-2004S1, 1.8 degree, 2A
uart_pin: PF9
run_current: 0.600                     # Max = 2A
#stealthchop_threshold: 0

[stepper_z1]                            # Front Left
step_pin: PC9                           # Motor 5
dir_pin: !PC8
enable_pin: !PD1
microsteps: 16
rotation_distance: 2                    # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
full_steps_per_rotation: 200

[tmc2209 stepper_z1]                    # StepperOnline 17HS19-2004S1, 1.8 degree, 2A
uart_pin: PD0
run_current: 0.600                     # Max = 2A
#stealthchop_threshold: 0

[stepper_z2]                            # Front Right
step_pin: PA10                          # Motor 6
dir_pin: !PA14
enable_pin: !PA15
microsteps: 16
rotation_distance: 2                    # Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
full_steps_per_rotation: 200

[tmc2209 stepper_z2]                    # StepperOnline 17HS19-2004S1, 1.8 degree, 2A
uart_pin: PF8
run_current: 0.600                      # Max = 2A
#stealthchop_threshold: 0
