##################################################################################################################################
# PROBE SECTION, HOMING, & BED ADJUSTMENT #
###########################################

[probe]                                 # Voron Tap
pin: can0:PB5
x_offset: 0
y_offset: 0
z_offset: 0
speed: 3
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
lift_speed: 10
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[idle_timeout]
timeout: 1800

#[safe_z_home]
#home_xy_position:188.5,188.5			# Center of bed
#speed: 200
#z_hop: 3
#z_hop_speed: 20

[z_tilt]
##	Use Z_TILT_ADJUST to level the bed
z_positions:
  166, 360                      # stepper_z Position (Rear Center)
  0, 15                         # stepper_z1 Position (Front Left)
  345, 15                       # stepper_z2 Position (Front Right)
points:
  0, 15                         # Probe Point Front Left
  345, 15                       # Probe Point Front Right
  345, 360                      # Probe Point Rear Right
  0, 360                        # Probe Point Rear Left
speed: 200
horizontal_move_z: 30
retries: 8								# Number of times to retry if the probed points aren't within tolerance
retry_tolerance:0.01

[bed_mesh]
speed: 450
horizontal_move_z: 10
mesh_min: 10,10
mesh_max: 340,328
algorithm: bicubic
probe_count: 30,30
bicubic_tension: 0.2
